@import "../base/variables";
.button {
  background: $primary;
  border-radius: 43px;
  padding: 25px 58px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  color: $black;
  border: 0;
  &:hover {
    cursor: pointer;
    background: $primary_dark;
  }
}
