@import "../base/variables";
.promo {
  max-height: 1080px;
  padding-bottom: 401px;
  background: url(../../img/placeholder.jpg) no-repeat;
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    margin: 80px 0 16px 0;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: $secondary;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    span {
      font-weight: 700;
    }
  }
  &__subheader {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.7;
    max-width: 595px;
  }
  &__button {
    margin-top: 40px;
  }
  &__social {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    gap: 90px;
    width: 100%;
  }
  &__item {
    padding: 5px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    img {
      margin-bottom: 16px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $secondary;
    text-decoration: none;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    color: $secondary;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
